Config { 
-- appearance
     font =         "xft:Fira Sans Mono:pixelsize=18"
   , additionalFonts = [
        "xft:Font Awesome 6 Free Solid:pixelsize=30"
      , "xft:Font Awesome 6 Brands:pixelsize=17"
      , "xft:Mononoki:pixelsize=20:antialias=true:hinting=true"
   ]

   , bgColor =      "#161925"
   , fgColor =      "#d3dae3"
   , position =     TopSize C 100 28 
   , border =       BottomB
   , borderColor =  "#2f343f"

   -- layout
   , sepChar =  "%"   -- delineator between plugin names and straight text
   , alignSep = "}{"  -- separator between left-right alignment
   -- , template = "%multicpu% <fn=3>|</fn> %memory% <fn=3>|</fn> %dynnetwork% <fn=3>|</fn> %UnsafeStdinReader% }{ %RJTT% <fn=3>|</fn> %battery% <fn=3>|</fn> %date%" -- <fn=3>|</fn> <icon=/home/gianl/.config/xmobar/panel-padding-141px.xpm/>"
   , template = " %UnsafeStdinReader% }{  %RJTT% <fn=3>|</fn> %battery% <fn=3>|</fn> %date% <fn=3>|</fn> %traypad%"

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      False    -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     False   -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

   -- plugins
   --   Numbers can be automatically colored according to their value. xmobar
   --   decides color based on a three-tier/two-cutoff system, controlled by
   --   command options:
   --     --Low sets the low cutoff
   --     --High sets the high cutoff
   --
   --     --low sets the color below --Low cutoff
   --     --normal sets the color between --Low and --High cutoffs
   --     --High sets the color above --High cutoff
   --
   --   The --template option controls how the plugin is displayed. Text
   --   color can be set by enclosing in <fc></fc> tags. For more details
   --   see http://projects.haskell.org/xmobar/#system-monitor-plugins.
   , commands = [

        -- weather monitor
         Run Weather "RJTT" [ "--template", "<fc=#3daee9><tempC></fc>°C <fn=3>|</fn> <fc=#3daee9><rh></fc>%"
                            ] 36000

        -- network activity monitor (dynamic interface resolution)
        , Run DynNetwork     [ "--template" , "<dev>: <tx>kB/s<fn=3>|</fn><rx>kB/s"
                             , "--Low"      , "1000"       -- units: B/s
                             , "--High"     , "5000"       -- units: B/s
                             , "--low"      , "#71f79f"
                             , "--normal"   , "#fdbc4b"
                             , "--high"     , "#ed254e"
                             ] 10

        -- cpu activity monitor
        , Run MultiCpu       [ "--template" , "Cpu: <total0>%<fn=3>|</fn><total1>%"
                             , "--Low"      , "50"         -- units: %
                             , "--High"     , "85"         -- units: %
                             , "--low"      , "#71f79f"
                             , "--normal"   , "#fdbc4b"
                             , "--high"     , "#ed254e"
                             ] 10

        -- cpu core temperature monitor
        , Run CoreTemp       [ "--template" , "Temp: <core0>°C<fn=3>|</fn><core1>°C"
                             , "--Low"      , "70"        -- units: °C
                             , "--High"     , "80"        -- units: °C
                             , "--low"      , "#71f79f"
                             , "--normal"   , "#fdbc4b"
                             , "--high"     , "#ed254e"
                             ] 50
                          
        -- memory usage monitor
        , Run Memory         [ "--template" ,"Mem: <usedratio>%"
                             , "--Low"      , "20"        -- units: %
                             , "--High"     , "90"        -- units: %
                             , "--low"      , "#71f79f"
                             , "--normal"   , "#fdbc4b"
                             , "--high"     , "#ed254e"
                             ] 10

        -- battery monitor
        , Run Battery        [ "--template" , "<acstatus>"
                             , "--Low"      , "10"        -- units: %
                             , "--High"     , "80"        -- units: %
                             , "--low"      , "#ed254e"
                             , "--normal"   , "#fdbc4b"
                             , "--high"     , "#71f79f"

                             , "--" -- battery specific options
                                       -- discharging status
                                       , "-o"	, "<fn=1>\xf242</fn> <left>% (<timeleft>)"
                                       -- AC "on" status
                                       , "-O"	, "<fn=1>\xf241</fn> <left>% <fn=1>\xf0e7</fn>"
                                       -- charged status
                                       , "-i"	, "<fn=1>\xf240</fn> <left>% <fn=1>\xf0e7 </fn>"
                             ] 50

        -- time and date indicator 
        --   (%F = y-m-d date, %a = day of week, %T = h:m:s time)
        , Run Date           "%a %_d %b <fn=3>|</fn> <fc=#fefefe>%H:%M</fc>" "date" 10
        , Run UnsafeStdinReader
        , Run Com "pamixer --get-volume-human" [] "volume" 20
        , Run Com "/home/gianl/.config/xmobar/systraypad.sh" [] "traypad" 10
        ]

-- Prints out the left side items such as workspaces, layout, etc.
    }

