configuration {

 modi: "window,drun,ssh,combi,run,perplexity:~/.config/rofi/perplexity-search.sh,duckduckgo:~/.config/rofi/duckduckgo-search.sh";

 font: "hack 10";

 combi-modi: "window,drun,ssh,run";


 }

@theme "~/.config/rofi/themes/dt-center.rasi"
